body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
    background-image: url("./free-photo-green-dynamic-grunge-abstract-background-pattern-wallpaper.jpg");
    background-size: cover;
    font-weight: bold;
    color: white;
    text-align: center;
}

h1 {
    color: goldenrod;
}

#message-el {
    font-style: italic;
}

button {
    
    font-weight: bold;
    color: #016f32;
    background-color: goldenrod;
    width: 150px;
    padding: 10px;
    border: none;
    border-radius: 5px;
}